[project]
	description = \"integration_simulators_pnf_simulator\"
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group ldap/onap-gerrit-integration-simulators-pnf-simulator-committers
	owner = group saml/onap-gerrit-integration-simulators-pnf-simulator-committers
	read = group GitHub Replication
